NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb://127.0.0.1:27017/telegram-bot-db
JWT_SECRET=supersecretjwtkey_change_me_in_production
JWT_EXPIRES_IN=7d
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_FROM_BOTFATHER
BOT_USERNAME=ArmanBot
TELEGRAM_CHAT_GROUP_ID=@your_chat_group_username
TELEGRAM_APP_CHANNEL_ID=@your_app_channel_username
